---
import Header from "../components/sections/Header.astro";

interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
    <meta name="description" content={description} />
    <meta name="image" content="/porfolio.webp" />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/porfolio.webp" />
    <meta property="og:url" content="https://amedpereda.netlify.app/" />
    <meta property="og:type" content="website" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="text-slate-400 selection:bg-[#63c2c4] selection:text-[#134e4a]">
    <div
      class="__variable_20b187 mx-auto min-h-screen max-w-screen-xl px-6 py-12 font-sans md:px-12 md:py-20 lg:px-24 lg:py-0 relative">
      <div class="lg:flex lg:justify-between lg:gap-4">
        <Header />
        <slot />
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const sections = document.querySelectorAll("section");
        const navItems = document.querySelectorAll(".nav ul li a");

        const observer = new IntersectionObserver(
          (entradas, observador) => {
            entradas.forEach((entrada) => {
              if (entrada.isIntersecting || entrada.intersectionRatio > 0) {
                const id = "#" + entrada.target.id;
                history.pushState({}, entrada.target.textContent, id);

                navItems.forEach((navItem) => {
                  navItem.classList.remove("active");
                  const href = navItem.getAttribute("href");
                  if (href === id) {
                    navItem.classList.add("active");
                  }
                });
              }
            });
          },
          {
            threshold: 0,
            rootMargin: "-15% 0px -90% 0px",
          }
        );

        sections.forEach((section) => {
          observer.observe(section);
        });

        if (sections.length > 0) {
          navItems.forEach((navItem) => {
            navItem.classList.remove("active");
          });
          const firstSectionId = "#" + sections[0].id;
          const firstNavItem = document.querySelector(
            `.nav ul li a[href="${firstSectionId}"]`
          );
          if (firstNavItem) {
            firstNavItem.classList.add("active");
          }
        }
      });
    </script>
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
    --fz-sm: 0.75rem;

    --c-light: #6edaff;
    --fz-lg: 18px;
    --fz-xl: 20px;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  html {
    line-height: 1.5;
    scroll-behavior: smooth;
  }
  body {
    background: #0a0a24 center / cover no-repeat;
  }

  main,
  ol,
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .img-box {
    box-shadow: 0 0 5px 5px #ccc;
    position: relative;
    display: flex;
    margin: 1.5rem auto;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
  }

  .img-box img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  .font-sans {
    font-family:
      "Inter", Arial,
      ui-sans-serif,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      "Noto Sans",
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Noto Color Emoji";
    font-feature-settings: "ss03", "cv02", "cv11";
  }
</style>
